body {
    text-align: center;
    background: #777;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin: 10px auto;
}

header {
    background: #ebebeb;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer {
    clear: both;
    background: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background: #ebebeb;
    padding: 10px 0 10px 0;
    margin: 15px 0 20px 0;
}

section {
    float: left;
    background: #ebebeb;
    width: 495px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

aside {
    float: right;
    background: #ebebeb;
    width: 450px;
    padding-bottom: 215px;
}

.whitebox {
    margin: 0 15px 10px 15px;
    padding: 15px 0 15px 0;
    background: #ebebeb;
}

article {
    background: #777;
    padding: 2px 0 10px 0;
    margin: 0 10px 0 10px;
}

#whiteText {
    color: #ebebeb;
}

